section.resources {
  background-image: url('../../images/background.jpg');
  background-size: 100%;
  min-height: 78vh;
}

section.resources article.resourceGallery {
  padding: 2em 0 4em;
}

article.resourceGallery div.singleResource {
  background-color: rgba(200, 200, 200, .85);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  border: 2px solid #212529;
  position: relative;
  padding: 0 0 2em;
  height: 15em;
}

div.singleResource h3 {
  background-color: rgb(23, 162, 184);
  padding: .5em 0;
  border-bottom: 4px solid #212529;
  color: #212529;
}

div.singleResource p {
  padding: 1em;
}